// Begin
* {
    box-sizing: border-box;
}
body {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    background: #201f2c;
    color: white;
    font-family: sans-serif;
}
#siteContainer {
    // The Header
    header {
        padding: 10px;
        overflow: auto;
        ul {
            h3 {
                a {
                    font-size: 2rem;
                    position: relative;
                    top: -40px;
                    color: white;
                    text-decoration: none;
                }
            }
            li {
                list-style-type: none;
                display: inline-block;
            }
            #mainTabs {
                display: inline-block;
                position: relative;
                top: -25px;
                margin: auto;
                li {
                    text-align: center;
                    img {
                        border-radius: 10px;
                        width: 50px;
                        opacity: 0.8;
                        margin: 0;
                        &:hover {
                            cursor: pointer;
                            box-shadow: 1px 1px 5px greenyellow;
                        }
                    }
                    .active {
                        box-shadow: 2px 2px 5px greenyellow;
                        cursor: text !important;
                    }
                    figcaption {
                        font-size: 10px;
                    }
                }
            }
            #links {
                display: inline-block;
                position: relative;
                top: 10px;
                right: 10px;
                float: right;
                li {
                    a {
                        img {
                            width: 30px;
                            border-radius: 100%;
                            &:hover {
                                box-shadow: 1px 1px 10px white;
                            }
                        }
                    }
                }
            }
        }
    }
    /** End of Header ***********************************************/

    // Beginning of the projects contents area
    #projectsContainer {
        text-align: center;
        width: auto;
        #projectsDiv {
            margin-top: 150px;
            opacity: 0.4;
            .cardContainer {
                margin-bottom: 10px;
                display: inline-block;
                background-color: #d4d4d4;
                width: 380px;
                height: auto;
                border: 1px solid #d4d4d4;
                border-radius: 6px;
                .cardImageContainer {
                   
                    img {
                        width: 377px;
                    }
                }
                .cardTitle {
                    text-align: center;
                    color: #3e5e0f;
                    .cardDescription {
                        .buttons {
                            border: none;
                            width: 80px;
                            padding: 10px;
                            border-radius: 5px;
                            &:hover {
                                transition: background-color 0.7s ease;
                                transition: color 0.7s ease;
                                background-color: #5a8519;
                                color: white;
                                cursor: pointer;
                            }
                        }
                    }
                }
                .cardIconsDiv {
                    img {
                        margin-top: 5px;
                        width: 30px;
                        display: inline-block;
                    }
                }
            }
        }
    }

    /** Beginning of Footer *******/
    footer {
        width: 100%;
        margin-top: 30px;
        opacity: 0.4;
        text-align: center;
    }
}