// Begin
* {
    box-sizing: border-box;
}
body {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    background: white;
    font-family: sans-serif;
}
    // The Header
    header {
        padding: 10px;
        margin-bottom: 10px;
        background: #5d9eff;
        color: white;
        width: auto;
    
        #title-area {
            display: inline-block;
            width: 70%;
            a {
                color: white;
                text-decoration: none;
            }
            img {
                width: 50px;
            }
            h3 {
                margin: 0;
                font-family: sans-serif;
                font-size: 30px;
                display: inline-block;
            }
            p {
                margin: 0;
                font-size: 18px;
            }
        }
        #mainTabs {
            display: inline-block;
            ul {
                margin: 0;
                padding: 0;
                li {
                    list-style-type: none;
                    display: inline-block;
                    margin: 0 20px 0 0;
                    a {
                        color: white;
                        text-decoration: none;
                        padding: 0 0 5px 0;
                        &:hover {
                            border-bottom: 2px solid white;
                        }
                    }
                    &:nth-child(3) {
                        background: #255091;
                        padding: 10px;
                        border-radius: 5px;
                    }
                }
            }
        }
        #skills {
            width: auto;
            text-align: center;
            h2 {
                font-size: 20px;
                line-height: 1.5;
            }
        }
    }
    @media only screen and (min-width: 320px) and (max-width: 768px) {
        header {
            text-align: center;
            #title-area {
                margin-bottom: 40px;
            }
        }
    }
// End of header

    // Beginning of the projects contents area
    #projectsContainer {
        text-align: center;
        width: 100%;
        #projectsDiv {
            margin-top: 150px;
            opacity: 0.4;
            .cardContainer {
                margin-bottom: 10px;
                display: inline-block;
                background-color: #d4d4d4;
                width: 380px;
                height: auto;
                border: 1px solid #d4d4d4;
                border-radius: 6px;
                .cardImageContainer {
                   
                    img {
                        width: 377px;
                    }
                }
                .cardTitle {
                    text-align: center;
                    color: #3e5e0f;
                    .cardDescription {
                        .buttons {
                            border: none;
                            width: 80px;
                            padding: 10px;
                            border-radius: 5px;
                            background-color: white;
                            &:hover {
                                transition: background-color 0.7s ease;
                                transition: color 0.7s ease;
                                background-color: #5a8519;
                                color: white;
                                cursor: pointer;
                            }
                        }
                    }
                }
                .cardIconsDiv {
                    img {
                        margin-top: 5px;
                        width: 30px;
                        display: inline-block;
                    }
                }
            }
        }
        @media only screen and (max-width: 375px) {
            #projectsDiv {
                width: auto;
            }  
        } 
    }

    /** Beginning of Footer *******/
    footer {
        width: 100%;
        margin-top: 30px;
        opacity: 0.4;
        text-align: center;
    }
